<template>
    <ProgressCircular/>
    <v-app>
        <v-app-bar color="primary" dark>
            <v-toolbar-title>Transaction Management</v-toolbar-title>
            <v-spacer></v-spacer>
            <div class="account-info d-flex mr-6">
                <div class="mr-5">
                    <span class="subtitle-1">Account Name: </span>
                    <span class="font-weight-bold">{{ transactionStore.accountSelected?.accountName }} </span>
                </div>
                <div>
                    <span class="subtitle-1">Balance:  </span>
                    <span class="font-weight-bold">{{ formatCurrency(transactionStore.accountSelected?.remain as number) }}</span>
                </div>
            </div>
            <v-btn @click="logout">Logout</v-btn>
        </v-app-bar>
        <v-main>
            <v-container fluid>
                <DepositPopup />
                <TransferPopup />
                <WithdrawPopup />
                <v-row>
                    <v-col cols="6" md="12">
                        <v-tabs v-model="transactionStore.tab" background-color="primary" dark>
                            <v-tab>Transfer Menu</v-tab>
                            <v-tab>Receive Menu</v-tab>
                            <v-tab>Deposit Menu</v-tab>
                            <v-tab>Withdraw Menu</v-tab>
                        </v-tabs>
                        <v-tabs-items v-model="transactionStore.tab">
                            <v-table fixed-header height="80vh">
                                <thead>
                                    <tr>
                                        <th v-for="header in transactionData.headers" :key="header">
                                            {{ header }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-if="transactionStore.tab == 0">
                                        <tr v-for="(transaction, index) in transactionData.data" :key="transaction.transactionID">
                                            <td>{{ formatDate(transaction.date) }}</td>
                                            <td>{{ transaction.toAccountName }}</td>
                                            <td>{{ formatCurrency(transaction.amount) }}</td>
                                        </tr>
                                    </template>
                                    <template v-if="transactionStore.tab == 1">
                                        <tr v-for="(transaction, index) in transactionData.data" :key="transaction.transactionID">
                                            <td>{{ formatDate(transaction.date) }}</td>
                                            <td>{{ transaction.fromAccountName }}</td>
                                            <td>{{ formatCurrency(transaction.amount) }}</td>
                                        </tr>
                                    </template>
                                    <template v-if="transactionStore.tab == 2">
                                        <tr v-for="(transaction, index) in transactionData.data" :key="transaction.transactionID">
                                            <td>{{ formatDate(transaction.date) }}</td>
                                            <td>{{ formatCurrency(transaction.amount) }}</td>
                                        </tr>
                                    </template>
                                      <template v-if="transactionStore.tab == 3">
                                        <tr v-for="(transaction, index) in datas" :key="transaction.transactionID">
                                            <td>{{ formatDate(transaction.date) }}</td>
                                            <td>{{ formatCurrency(transaction.amount) }}</td>
                                        </tr>
                                    </template>
                                </tbody>
                            </v-table>
                        </v-tabs-items>
                    </v-col>
                </v-row>
                <v-container fluid>
                    <v-row justify="center">
                        <v-col cols="auto" class="text-center">
                            <v-btn block color="success" @click="transactionStore.depositPopupToggle = true">Deposit Money</v-btn>
                        </v-col>
                        <v-col cols="auto" class="text-center">
                            <v-btn color="warning" @click="transactionStore.withdrawPopupToggle = true">Withdraw Money</v-btn>
                        </v-col>
                        <v-col cols="auto" class="text-center">
                            <v-btn color="info" @click=" transactionStore.transferPopupToggle = true">Transfer Money</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-container>
        </v-main>
    </v-app>
</template>
  
  
<script setup lang="ts">
import { computed, onMounted } from 'vue';
import { useAuthenticationStore } from "../login/dataprovider/authenticationStore";
import { useTransactionStore } from "../transaction/dataprovider/transactionStore";
import { TransactionType } from './constant';
import { format } from 'date-fns';
import TransferPopup from '../../components/TransferPopup.vue'
import DepositPopup from '../../components/DepositPopup.vue';
import WithdrawPopup from '../../components/WithdrawPopup.vue';
import ProgressCircular from '../../components/ProgressCircular.vue'

const authenticationStore = useAuthenticationStore();
const transactionStore = useTransactionStore();

function logout() {
    authenticationStore.logout();
}

const transactionData = computed(() => {
  let data: Transaction[] = [];
  let headers: string[] = [];

  switch (transactionStore.tab) {
    case 0:
      headers = ['เวลา', 'ถึง', 'จำนวน (บาท)'];
      data = transactionStore.accountSelected?.transactions.filter(x => x.transactionType == TransactionType.Transfer) ?? [];
      break;
    case 1:
      headers = ['เวลา', 'จาก', 'จำนวน (บาท)'];
      data = transactionStore.accountSelected?.transactions.filter(x => x.transactionType == TransactionType.Receive) ?? [];
      break;
    case 2:
      headers = ['เวลา', 'จำนวน (บาท)'];
      data = transactionStore.accountSelected?.transactions.filter(x => x.transactionType == TransactionType.Deposit) ?? [];
      break;
    case 3:
      headers = ['เวลา', 'จำนวน (บาท)'];
      data = transactionStore.accountSelected?.transactions.filter(x => x.transactionType == TransactionType.Withdraw) ?? [];
      break;
  }
  return { data, headers };
});

onMounted(async () => {
    await transactionStore.getTransactions();
    await transactionStore.getMasterData();
    transactionData.value.data = transactionStore.accountSelected?.transactions.filter(x => x.transactionType == TransactionType.Transfer) ?? [];
    transactionStore.tab = 0;
});

function formatDate(date: Date) {
    return format(new Date(date), 'dd/MM/yyyy HH:mm:ss');
}

function formatCurrency(value:number) {
  return new Intl.NumberFormat('en-US', { style: 'decimal', minimumFractionDigits: 2 }).format(value);
}

</script>
    
<style scoped>
.account-info .subtitle-1 {
    color: rgba(255, 255, 255, 0.7);
    /* ปรับสีให้เข้ากับ theme dark */
}

.font-weight-bold {
    color: #FFFFFF;
    /* ปรับสีให้ชัดเจนบน background สีเข้ม */
}
</style>