<template>
    <div class="overlay" v-if="progressCircular.progressCircular">
      <v-progress-circular
        color="primary"
        :size="100"
        :width="7"
        :v-model="progressCircular.progressCircular"
        indeterminate
      ></v-progress-circular>
    </div>
  </template>
  <script setup lang="ts">
import {useProgressCircularStore} from "../../src/seedworks/progressCircularStore";
const progressCircular = useProgressCircularStore();
</script>

<style scoped>
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}
</style>